{{ form_start(form) }}
<div class="row">
    <div class="col">
        </br>
        <div class="row justify-content-around">
            <div class="col-10">
                <label>Nom du réalisateur</label>
                {{ form_widget(form.name, {'attr':{'class':'form-control'}})  }}
                </br>

                <label>Age du réalisateur</label>
                {{ form_widget(form.age, {'attr':{'class':'form-control'}}) }}
                </br>

                <label>Photo du réalisateur (saisir une URL)</label>
                <ul class="list-group">
                {{ form_widget(form.picture, {'attr':{'class':'form-control'}}) }} 
                </br>

            </div>
        </div>             
    </div>
<button class="btn btn-primary pull-right mt-3">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
